[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
autopep8 = "*"
mypy = "*"
pytest-mock = "*"
requests-mock = "*"

[packages]
pyyaml = "*"
inflection = "*"
beautifulsoup4 = "*"
requests = "*"
pydoc-markdown = "*"
python-dateutil = "*"
slack = "*"
slack_sdk = "3.11.2"
slackclient = "==1.3.2"

[requires]
python_version = "3.9"
