[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
autopep8 = "*"
mypy = "*"
pytest-mock = "*"
requests-mock = "*"

[packages]
pyyaml = "*"
inflection = "*"
beautifulsoup4 = "*"
requests = "*"
pydoc-markdown = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
