[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
autopep8 = "*"
mypy = "*"
pytest-mock = "*"
requests-mock = "*"

[packages]
pyyaml = "*"
types-PyYAML = "*"
inflection = "*"
beautifulsoup4 = "*"
circleci = "==1.2.2"
requests = "*"
types-requests = "*"
pydoc-markdown = "==3.10.0"
python-dateutil = "*"
types-python-dateutil = "*"
slack_sdk = "*"
google-api-python-client = "*"
google-cloud-storage = "*"
pytz = "*"

[requires]
python_version = "3.9"
