.navButtons {
  background-color: #1e1e1e;
  color: #ffffff;
  float: left;
  border: none;
  margin-left: 10px;
}
.navDiffButtons {
  background-color: #1e1e1e;
  color: #ffffff;
  float: left;
  border: none;
  margin-left: 10px;
  margin-top: 2px;
}
.navButtons:focus {
  background-color: #3e3e3e;
}

.navDiffButtons:focus {
  background-color: #3e3e3e;
}
.editorBar {
  height: 25px;
  font-size: 14px;
  background-color: #1e1e1e;
}
